@import '../../shared/variables';
@import '../../shared/_font.scss';

.enfermedades-page {
  font-family: $font-family-base;
  color: $body-color;
  background-color: $light;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

// Hero Section
.diseases-hero {
  // background: linear-gradient(135deg, $primary 40%, $dark 100%);
  background-color: $primary;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem;
  position: relative;
  overflow: hidden;
  height: 50%;

  .hero-content {
    position: relative;
    z-index: 2;

    h1 {
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 400;
      max-width: 600px;
      margin: 0 auto;
    }

    .explore-btn {
      margin-top: 2rem;
      display: inline-block;
      background-color: $light;
      color: $primary;
      padding: 0.75rem 1.5rem;
      border-radius: 30px;
      text-decoration: none;
      font-weight: 600;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($light, 5%);
      }
    }
  }
}

// Grid de Enfermedades
.diseases {
  padding: 4rem 2rem;
  background-color: $light;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
    justify-items: center;
  }

  .disease-card {
    background-color: $primary;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 32px 48px rgba(0, 0, 0, 0.15);
      color: $dark;
    }

    .card-image {
      width: 100%;
      height: 200px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $light;

      img {
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
      }
    }

    .card-content {
      padding: 1.5rem;
      text-align: center;
      color: $body-color;

      h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        color: $light;
      }

      .learn-more-btn {
        text-decoration: none;
        font-weight: 600;
        color: $light;
        transition: color 0.2s ease;

        &:hover {
          color: $dark;
        }
      }
    }
  }
}
